.App-div {
  margin: 10px auto;
}
body {
  /* background-image: url("./assets/backimg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #a7e6ff;
}
.custom-toast {
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}

.custom-toast-container {
  width: 300px;
}
