.App-div {
  margin: 10px auto;
}
body {
  /* background-image: url("./assets/backimg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #a7e6ff;
}
/* toastStyles.css */
.custom-toast {
  font-size: 14px; /* Adjust font size */
  padding: 10px; /* Adjust padding */
  border-radius: 5px; /* Adjust border radius */
}

.custom-toast-container {
  width: 300px; /* Adjust width */
}
